<!--
	Author: W3layouts
	Author URL: http://w3layouts.com
	License: Creative Commons Attribution 3.0 Unported
	License URL: http://creativecommons.org/licenses/by/3.0/
-->

<!DOCTYPE html>
<html lang="zxx">

<head>
	<title>Goggles Ecommerce Category Bootstrap responsive Web Template | About :: w3layouts</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta charset="utf-8">
	<meta name="keywords" content="Goggles a Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template, 
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />
	<!-- <script>
		addEventListener("load", function () {
			setTimeout(hideURLbar, 0);
		}, false);

		function hideURLbar() {
			window.scrollTo(0, 1);
		}
	</script> -->
	<link href="assets/css/bootstrap.css" rel='stylesheet' type='text/css' />
	<link href="assets/css/login_overlay.css" rel='stylesheet' type='text/css' />
	<link href="assets/css/style6.css" rel='stylesheet' type='text/css' />
	<link rel="stylesheet" href="assets/css/shop.css" type="text/css" />
	<link href="assets/css/style.css" rel='stylesheet' type='text/css' />
	<link href="assets/css/fontawesome-all.css" rel="stylesheet">
	<link href="//fonts.googleapis.com/css?family=Inconsolata:400,700" rel="stylesheet">
	<link
		href="//fonts.googleapis.com/css?family=Poppins:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800"
		rel="stylesheet">


	<style>
		.message {
			color: red;
		}

		.message-div {
			background-color: #f7f7f7;

			height: 100px;
		}

		.empty-cart-button-div {
			text-align: center;
		}

		.empty-cart-button {
			margin-top: 50px;
		}

		.line {
			background-color: black;
			height: 2px;
			margin-top: 100px;
		}

		#showGrandTotal {

			color: #000000;
			margin-bottom: 20px;
			margin-top: 15px;
		}

		.quantity-show {
			border: none;
			outline: none;
			border-radius: 5px;
		}

		.btn-minus,
		.btn-plus {
			background-color: #000000;

		}

		.cart-summary-container {
			display: flex;
			justify-content: center;
			align-items: center;
			margin-top: 20px;
			/* Adjust the margin as needed */
		}

		.cart-summary {
			display: flex;
			flex-direction: column;
			align-items: center;
			padding: 10px;
			background-color: #f4f4f4;
			border-top: 1px solid #ddd;
			width: 300px;
			/* Adjust the width as needed */
		}

		.grand {
			font-size: 18px;
			font-weight: bold;
			margin: 0;
		}

		.buttons-container {
			display: flex;
			justify-content: space-between;
			margin-top: 10px;
		}


		.shopping-button {
			padding: 10px;
			font-size: 16px;
			cursor: pointer;
			background-color: #000000;
			/* Green background color */
			color: white;
			/* White text color */
			border: none;
			/* Remove borders */

			margin-bottom: 30px;
		}

		.checkout-button {
			padding: 10px;
			font-size: 16px;
			cursor: pointer;
			background-color: #000000;
			/* Green background color */
			color: white;
			/* White text color */
			border: none;
			/* Remove borders */

			margin-bottom: 10px;
		}

		.checkout-button:hover,
		.shopping-button:hover {
			background-color: #161616;
			/* Darker green on hover */
		}

		input[type='number']::-webkit-inner-spin-button,
		input[type='number']::-webkit-outer-spin-button {
			-webkit-appearance: none;
			margin: 0;
		}

		.cart-image-container {
			position: relative;
			width: 50%;
		}

		.cart-image {
			opacity: 1;
			display: block;
			width: 150px;
			height: auto;
			transition: .5s ease;
			backface-visibility: hidden;
		}

		.cart-image-overlay {
			transition: .5s ease;
			opacity: 0;
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
			-ms-transform: translate(-50%, -50%)
		}

		.cart-image-container:hover .cart-image {
			opacity: 0.3;
		}

		.cart-image-container:hover .cart-image-overlay {
			opacity: 1;
		}

		.cart-image-text {
			background-color: #000000;
			color: white;
			font-size: 10px;
			padding: 16px 16px;
		}

		.mycart-head {
			color: #000000;
			font-family: Arial, Helvetica, sans-serif;
			margin-bottom: 20px;
			font-weight: bold;
		}

		.cart-empty-image {
			text-align: center;
			margin-top: 50px;

		}

		.empty-h3 {
			margin-top: 50px;
		}
	</style>

</head>

<body>
	<div class="banner-top container-fluid" id="home">
		<!-- header -->
		<header>
			<div class="row">
				<div class="col-md-3 top-info text-left mt-lg-4">
					<h6>Need Help</h6>
					<ul>
						<li>
							<i class="fas fa-phone"></i> Call
						</li>
						<li class="number-phone mt-3">12345678099</li>
					</ul>
				</div>
				<div class="col-md-6 logo-w3layouts text-center">
					<h1 class="logo-w3layouts">
						<a class="navbar-brand" href="index.html">
							Quix </a>
					</h1>
				</div>

				<div class="col-md-3 top-info-cart text-right mt-lg-4">


				</div>
			</div>

			<label class="top-log mx-auto"></label>
			<nav class="navbar navbar-expand-lg navbar-light bg-light top-header mb-2">

				<button class="navbar-toggler mx-auto" type="button" data-toggle="collapse"
					data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
					aria-label="Toggle navigation">
					<span class="navbar-toggler-icon">

					</span>
				</button>
				<div class="collapse navbar-collapse" id="navbarSupportedContent">
					<ul class="navbar-nav nav-mega mx-auto">
						<li class="nav-item ">
							<a class="nav-link ml-lg-0" href="/home">Home
								<span class="sr-only">(current)</span>
							</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="/about">About</a>
						</li>
						<li class="nav-item ">
							<a class="nav-link " href="/features" role="button">
								Features
							</a>

						</li>
						<li class="nav-item dropdown">
							<a class="nav-link " href="/products" id="" role="button">
								Shop
							</a>

						<li class="nav-item">
							<a class="nav-link" href="/contact">Contact</a>
						</li>
					</ul>

				</div>
			</nav>
		</header>
		<!-- banner -->
		<div class="banner_inner">
			<div class="services-breadcrumb">
				<div class="inner_breadcrumb">

					<ul class="short">
						<li>
							<a href="index.html">Home</a>
							<i>|</i>
						</li>
						<li>My Cart</li>
					</ul>
				</div>
			</div>

		</div>
		<!--//banner -->
	</div>




	<div class="main-panel">
		<div class="content-wrapper">


			<div class="row">
				<div class="col-lg-12 grid-margin stretch-card">
					<div class="card">
						<div class="card-body">
							<% if(carts.length> 0) { %>
								<h4 class="mycart-head">My Cart</h4>
								<div class="justify-content-center text-align-center message-div-div ">
									<div class="text-center message-div">
										<% if(typeof message !=='undefined' ){ %>
											<p class="message">
												<%= message %>
											</p>
											<% } %>

									</div>



								</div>

								</p>
								<div class="table-responsive">
									<table class="table table-striped">

										<thead>
											<tr>

												<th>Product</th>
												<th>Quantity</th>
												<th>Price</th>
												<th>Total Price</th>

												<th>Action</th>
											</tr>
										</thead>
										<tbody>

											<% let totalprice=0; %>
												<% let grandTotalPrice=0; %>
													<% for(let i=0; i < carts.length; i++) { %>
														<tr>

															<td>
																<div class="cart-image-container">
																	<img src="/uploads/<%= carts[i].productId.images[0] %>"
																		alt="" class="cart-image img-fluid">
																	<div class="cart-image-overlay">
																		<div class="cart-image-text">
																			<%= carts[i].productId.productName %>

																		</div>
																	</div>
																</div>
															</td>

															<td>
																<!-- Update Quantity Form -->
																<form method="POST" class="update-quantity-form">
																	<input type="hidden" name="cartId"
																		value="<%= cartId %>">
																	<input type="hidden" name="productId"
																		value="<%= carts[i].productId._id %>">

																	<!-- Minus Button -->
																	<button type="button"
																		class="btn btn-secondary btn-minus">-</button>

																	<!-- Quantity Input (disabled for direct input) -->
																	<input type="number" name="quantity"
																		value="<%=carts[i].quantity%>" min="1"
																		max="<%= Math.min(10, carts[i].productId.stock) %>"
																		readonly class="text-center quantity-show"
																		style="width: 30px;">

																	<!-- Plus Button -->
																	<button type="button"
																		class="btn btn-secondary btn-plus"
																		value>+</button>
																</form>



																<!-- <%= carts[i].quantity %> -->
															</td>
															<td>
																<% if(carts[i].productId.offerName) { %>
																	&#8377;<%= carts[i].productId.offerPrice %>
																		<% } else { %>
																			&#8377;<%= carts[i].productId.prize %>
																				<% } %>

															</td>
															<% if(carts[i].productId.offerName) { %>
																<% totalprice=parseInt( carts[i].quantity *
																	carts[i].productId.offerPrice); %>
																	<% } else { %>
																		<% totalprice=parseInt( carts[i].quantity *
																			carts[i].productId.prize); %>
																			<% } %>

																				<% grandTotalPrice +=totalprice %>
																					<td class="showTotal"
																						id="totalPrice_<%= i %>">&#8377;
																						<%= totalprice %>
																					</td>

																					<td>
																						<form method="POST"
																							class="remove-form">
																							<input type="hidden"
																								name="cartId"
																								value="<%= cartId %>">
																							<button type="button"
																								class="btn btn-danger remove-btn"
																								data-product-id="<%= carts[i].productId._id %>">
																								Remove from Cart
																							</button>
																						</form>
																					</td>
														</tr>


														<% } %>


										</tbody>



									</table>



								</div>


						</div>
					</div>
				</div>
			</div>
		</div>
		<div>
			<div class="cart-summary-container">
				<div class="cart-summary">
					<p class="grand" id="showGrandTotal">Subtotal : &#8377;<%= grandTotalPrice %>
					</p>
					<div class="buttons-container">

						<form method="post" action="/toCheckout">

							<input type="hidden" name="subTotal" value="<%= grandTotalPrice  %>">
							<button type="submit" class="checkout-button">Checkout</button>

						</form>

					</div>
					<div class="buttons-container">
						<form action="/products">
							<button class="shopping-button">Continue Shopping</button>
						</form>

					</div>
				</div>
			</div>



		</div>
		<% } else { %>
			<div class="cart-empty-image">
				<img src="empty-cart.png" alt="">
				<h3 class="empty-h3">Your cart is empty</h3>

				<div class="empty-cart-button-div">
					<form action="/products">
						<button class="shopping-button empty-cart-button">Continue Shopping</button>
					</form>

				</div>


			</div>
			<div class="line"></div>





			<% } %>


				<!--// header_top -->
				<!-- top Products -->
				<section class="banner-bottom-wthreelayouts py-lg-5 py-3">
					<div class="container-fluid">

						<div class="inner-sec-shop px-lg-4 px-3">


							<!-- /grids -->
							<div class="bottom-sub-grid-content py-lg-5 py-3">
								<div class="row">
									<div class="col-lg-4 bottom-sub-grid text-center">
										<div class="bt-icon">

											<span class="far fa-hand-paper"></span>
										</div>

										<h4 class="sub-tittle-w3layouts my-lg-4 my-3">Satisfaction Guaranteed</h4>
										<p>Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia
											odio
											sem nec elit.</p>
										<p>
											<a href="shop.html"
												class="btn btn-sm animated-button gibson-three mt-4">Shop
												Now</a>
										</p>
									</div>
									<!-- /.col-lg-4 -->
									<div class="col-lg-4 bottom-sub-grid text-center">
										<div class="bt-icon">
											<span class="fas fa-rocket"></span>
										</div>

										<h4 class="sub-tittle-w3layouts my-lg-4 my-3">Fast Shipping</h4>
										<p>Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia
											odio
											sem nec elit.</p>
										<p>
											<a href="shop.html"
												class="btn btn-sm animated-button gibson-three mt-4">Shop
												Now</a>
										</p>
									</div>
									<!-- /.col-lg-4 -->
									<div class="col-lg-4 bottom-sub-grid text-center">
										<div class="bt-icon">
											<span class="far fa-sun"></span>
										</div>

										<h4 class="sub-tittle-w3layouts my-lg-4 my-3">UV Protection</h4>
										<p>Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia
											odio
											sem nec elit.</p>
										<p>
											<a href="shop.html"
												class="btn btn-sm animated-button gibson-three mt-4">Shop
												Now</a>
										</p>
									</div>
									<!-- /.col-lg-4 -->
								</div>
							</div>
							<!-- //grids -->
							<!--/meddle-->
							<div class="row">
								<div class="col-md-12 middle-slider my-4">
									<div class="middle-text-info ">

										<h3 class="tittle-w3layouts two text-center my-lg-4 mt-3">Summer Flash sale</h3>
										<div class="simply-countdown-custom" id="simply-countdown-custom"></div>

									</div>
								</div>
							</div>
							<!--//meddle-->

							<!-- /testimonials -->
							<div class="testimonials py-lg-4 py-3 mt-4">
								<div class="testimonials-inner py-lg-4 py-3">
									<h3 class="tittle-w3layouts text-center my-lg-4 my-4">Tesimonials</h3>
									<div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
										<div class="carousel-inner" role="listbox">
											<div class="carousel-item active">
												<div class="testimonials_grid text-center">
													<h3>Anamaria
														<span>Customer</span>
													</h3>
													<label>United States</label>
													<p>Maecenas interdum, metus vitae tincidunt porttitor, magna quam
														egestas
														sem, ac scelerisque nisl nibh vel lacus.
														Proin eget gravida odio. Donec ullamcorper est eu accumsan
														cursus.</p>
												</div>
											</div>
											<div class="carousel-item">
												<div class="testimonials_grid text-center">
													<h3>Esmeralda
														<span>Customer</span>
													</h3>
													<label>United States</label>
													<p>Maecenas interdum, metus vitae tincidunt porttitor, magna quam
														egestas
														sem, ac scelerisque nisl nibh vel lacus.
														Proin eget gravida odio. Donec ullamcorper est eu accumsan
														cursus.</p>
												</div>
											</div>
											<div class="carousel-item">
												<div class="testimonials_grid text-center">
													<h3>Gretchen
														<span>Customer</span>
													</h3>
													<label>United States</label>
													<p>Maecenas interdum, metus vitae tincidunt porttitor, magna quam
														egestas
														sem, ac scelerisque nisl nibh vel lacus.
														Proin eget gravida odio. Donec ullamcorper est eu accumsan
														cursus.</p>
												</div>
											</div>
											<a class="carousel-control-prev test" href="#carouselExampleControls"
												role="button" data-slide="prev">
												<span class="fas fa-long-arrow-alt-left"></span>
												<span class="sr-only">Previous</span>
											</a>
											<a class="carousel-control-next test" href="#carouselExampleControls"
												role="button" data-slide="next">
												<span class="fas fa-long-arrow-alt-right" aria-hidden="true"></span>
												<span class="sr-only">Next</span>

											</a>
										</div>
									</div>
								</div>
							</div>
							<!-- //testimonials -->
							<div class="row galsses-grids pt-lg-5 pt-3">
								<div class="col-lg-6 galsses-grid-left">
									<figure class="effect-lexi">
										<img src="assets/images/banner4.jpg" alt="" class="img-fluid">
										<figcaption>
											<h3>Editor's
												<span>Pick</span>
											</h3>
											<p> Express your style now.</p>
										</figcaption>
									</figure>
								</div>
								<div class="col-lg-6 galsses-grid-left">
									<figure class="effect-lexi">
										<img src="assets/images/banner1.jpg" alt="" class="img-fluid">
										<figcaption>
											<h3>Editor's
												<span>Pick</span>
											</h3>
											<p>Express your style now.</p>
										</figcaption>
									</figure>
								</div>
							</div>

							<!-- /clients-sec -->
							<div class="testimonials p-lg-5 p-3 mt-4">
								<div class="row last-section">
									<div class="col-lg-3 footer-top-w3layouts-grid-sec">
										<div class="mail-grid-icon text-center">
											<i class="fas fa-gift"></i>
										</div>
										<div class="mail-grid-text-info">
											<h3>Genuine Product</h3>
											<p>Lorem ipsum dolor sit amet, consectetur</p>
										</div>
									</div>
									<div class="col-lg-3 footer-top-w3layouts-grid-sec">
										<div class="mail-grid-icon text-center">
											<i class="fas fa-shield-alt"></i>
										</div>
										<div class="mail-grid-text-info">
											<h3>Secure Products</h3>
											<p>Lorem ipsum dolor sit amet, consectetur</p>
										</div>
									</div>
									<div class="col-lg-3 footer-top-w3layouts-grid-sec">
										<div class="mail-grid-icon text-center">
											<i class="fas fa-dollar-sign"></i>
										</div>
										<div class="mail-grid-text-info">
											<h3>Cash on Delivery</h3>
											<p>Lorem ipsum dolor sit amet, consectetur</p>
										</div>
									</div>
									<div class="col-lg-3 footer-top-w3layouts-grid-sec">
										<div class="mail-grid-icon text-center">
											<i class="fas fa-truck"></i>
										</div>
										<div class="mail-grid-text-info">
											<h3>Easy Delivery</h3>
											<p>Lorem ipsum dolor sit amet, consectetur</p>
										</div>
									</div>
								</div>
							</div>
							<!-- //clients-sec -->

						</div>
					</div>
				</section>


				<!--footer -->
				<footer class="py-lg-5 py-3">
					<div class="container-fluid px-lg-5 px-3">
						<div class="row footer-top-w3layouts">
							<div class="col-lg-3 footer-grid-w3ls">
								<div class="footer-title">
									<h3>About Us</h3>
								</div>
								<div class="footer-text">
									<p>Curabitur non nulla sit amet nislinit tempus convallis quis ac lectus. lac inia
										eget
										consectetur sed, convallis at
										tellus. Nulla porttitor accumsana tincidunt.</p>
									<ul class="footer-social text-left mt-lg-4 mt-3">

										<li class="mx-2">
											<a href="#">
												<span class="fab fa-facebook-f"></span>
											</a>
										</li>
										<li class="mx-2">
											<a href="#">
												<span class="fab fa-twitter"></span>
											</a>
										</li>
										<li class="mx-2">
											<a href="#">
												<span class="fab fa-google-plus-g"></span>
											</a>
										</li>
										<li class="mx-2">
											<a href="#">
												<span class="fab fa-linkedin-in"></span>
											</a>
										</li>
										<li class="mx-2">
											<a href="#">
												<span class="fas fa-rss"></span>
											</a>
										</li>
										<li class="mx-2">
											<a href="#">
												<span class="fab fa-vk"></span>
											</a>
										</li>
									</ul>
								</div>
							</div>
							<div class="col-lg-3 footer-grid-w3ls">
								<div class="footer-title">
									<h3>Get in touch</h3>
								</div>
								<div class="contact-info">
									<h4>Location :</h4>
									<p>0926k 4th block building, king Avenue, New York City.</p>
									<div class="phone">
										<h4>Contact :</h4>
										<p>Phone : +121 098 8907 9987</p>
										<p>Email :
											<a href="mailto:info@example.com">info@example.com</a>
										</p>
									</div>
								</div>
							</div>
							<div class="col-lg-3 footer-grid-w3ls">
								<div class="footer-title">
									<h3>Quick Links</h3>
								</div>
								<ul class="links">
									<li>
										<a href="index.html">Home</a>
									</li>
									<li>
										<a href="/about">About</a>
									</li>
									<li>
										<a href="404.html">Error</a>
									</li>
									<li>
										<a href="shop.html">Shop</a>
									</li>
									<li>
										<a href="contact.html">Contact Us</a>
									</li>
								</ul>
							</div>
							<div class="col-lg-3 footer-grid-w3ls">
								<div class="footer-title">
									<h3>Sign up for your offers</h3>
								</div>
								<div class="footer-text">
									<p>By subscribing to our mailing list you will always get latest news and updates
										from us.
									</p>
									<form action="#" method="post">
										<input class="form-control" type="email" name="Email"
											placeholder="Enter your email..." required="">
										<button class="btn1">
											<i class="far fa-envelope" aria-hidden="true"></i>
										</button>
										<div class="clearfix"> </div>
									</form>
								</div>
							</div>
						</div>
						<div class="copyright-w3layouts mt-4">
							<p class="copy-right text-center ">&copy; 2018 Goggles. All Rights Reserved | Design by
								<a href="http://w3layouts.com/"> W3layouts </a>
							</p>
						</div>
					</div>
				</footer>
				<!-- //footer -->

				<!--jQuery-->
				<script src="assets/js/jquery-2.2.3.min.js"></script>
				<!-- newsletter modal -->
				<!--search jQuery-->
				<script src="assets/js/modernizr-2.6.2.min.js"></script>
				<script src="assets/js/classie-search.js"></script>
				<script src="assets/js/demo1-search.js"></script>
				<!--//search jQuery-->
				<!-- cart-js -->
				<script src="assets/js/minicart.js"></script>

				<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>



				<script>

					document.addEventListener('DOMContentLoaded', () => {
						const removeButtons = document.querySelectorAll('.remove-btn');

						removeButtons.forEach(button => {
							button.addEventListener('click', async () => {
								const cartId = button.closest('.remove-form').querySelector('input[name="cartId"]').value;
								const productId = button.getAttribute('data-product-id');



								try {
									const response = await fetch('/removeFromCart', {
										method: 'POST',
										headers: {
											'Content-Type': 'application/json',
										},
										body: JSON.stringify({ cartId, productId }),
									});

									if (!response.ok) {
										Swal.fire({
											icon: 'error',
											title: 'Oops!',
											text: 'Failed to remove product from cart',
										});


									} else {
										const data = await response.json();
										updateGrand(data.grandTotalPrice);
										button.closest('tr').remove();


									}

								} catch (error) {
									console.error(error);
									Swal.fire({
										icon: 'error',
										title: 'Error!',
										text: 'An error occurred while removing the product from cart',
									});
								}
							});
						});

						function updateGrand(grandTotalPrice) {
							const grandTotalCell = document.getElementById('showGrandTotal');
							grandTotalCell.textContent = `Subtotal : ₹${grandTotalPrice}`;
						}
					});
				</script>



				<script>
					googles.render();

					googles.cart.on('googles_checkout', function (evt) {
						var items, len, i;

						if (this.subtotal() > 0) {
							items = this.items();

							for (i = 0, len = items.length; i < len; i++) { }
						}
					});
				</script>
				<!-- //cart-js -->
				<script>
					$(document).ready(function () {
						$(".button-log a").click(function () {
							$(".overlay-login").fadeToggle(200);
							$(this).toggleClass('btn-open').toggleClass('btn-close');
						});
					});
					$('.overlay-close1').on('click', function () {
						$(".overlay-login").fadeToggle(200);
						$(".button-log a").toggleClass('btn-open').toggleClass('btn-close');
						open = false;
					});
				</script>
				<!-- carousel -->
				<!-- dropdown nav -->
				<script>
					$(document).ready(function () {
						$(".dropdown").hover(
							function () {
								$('.dropdown-menu', this).stop(true, true).slideDown("fast");
								$(this).toggleClass('open');
							},
							function () {
								$('.dropdown-menu', this).stop(true, true).slideUp("fast");
								$(this).toggleClass('open');
							}
						);
					});
				</script>


				<!-- //dropdown nav -->
				<!-- Count-down -->
				<script src="assets/js/simplyCountdown.js"></script>
				<link href="assets/css/simplyCountdown.css" rel='stylesheet' type='text/css' />
				<script>
					var d = new Date();
					simplyCountdown('simply-countdown-custom', {
						year: d.getFullYear(),
						month: d.getMonth() + 2,
						day: 25
					});
				</script>
				<!--// Count-down -->
				<script src="assets/js/move-top.js"></script>
				<script src="assets/js/easing.js"></script>
				<script>
					jQuery(document).ready(function ($) {
						$(".scroll").click(function (event) {
							event.preventDefault();
							$('html,body').animate({
								scrollTop: $(this.hash).offset().top
							}, 900);
						});
					});
				</script>
				<script>
					$(document).ready(function () {
						/*
												var defaults = {
													  containerID: 'toTop', // fading element id
													containerHoverID: 'toTopHover', // fading element hover id
													scrollSpeed: 1200,
													easingType: 'linear' 
												 };
												*/

						$().UItoTop({
							easingType: 'easeOutQuart'
						});

					});
				</script>
				<!--// end-smoth-scrolling -->


				<script src="assets/js/bootstrap.js"></script>
				<!-- js file -->

				<script>
					document.addEventListener('DOMContentLoaded', function () {
						const updateQuantityForms = document.querySelectorAll('.update-quantity-form');

						updateQuantityForms.forEach(form => {
							const minusBtn = form.querySelector('.btn-minus');
							const plusBtn = form.querySelector('.btn-plus');
							const quantityInput = form.querySelector('[name="quantity"]');
							const grandTotalCell = document.getElementById('showGrandTotal');

							minusBtn.addEventListener('click', function () {
								updateQuantity(quantityInput, -1);
							});

							plusBtn.addEventListener('click', function () {
								updateQuantity(quantityInput, 1);
							});
						});

						async function updateQuantity(inputElement, change) {
							let newQuantity = parseInt(inputElement.value) + change;
							newQuantity = Math.max(1, Math.min(newQuantity, 10));
							inputElement.value = newQuantity;

							const cartId = inputElement.form.querySelector('[name="cartId"]').value;
							const productId = inputElement.form.querySelector('[name="productId"]').value;

							try {
								const response = await fetch(`/update-quantity`, {
									method: 'POST',
									headers: {
										'Content-Type': 'application/json',
									},
									body: JSON.stringify({
										cartId,
										productId,
										quantity: newQuantity,
									}),
								});

								if (!response.ok) {
									console.error('Error updating quantity');
								} else {
									const data = await response.json();
									updateGrandTotalPrices(data.grandTotalPrice);

									updateTotalPrice(data.index, data.totalPrice)


								}
							} catch (error) {
								console.error('Fetch error:', error);
							}
						}

						function updateGrandTotalPrices(grandTotalPrice) {
							const grandTotalCell = document.getElementById('showGrandTotal');
							grandTotalCell.textContent = `Subtotal : ₹${grandTotalPrice}`;
						}
						function updateTotalPrice(productIndex, totalPrice) {
							const totalCell = document.getElementById(`totalPrice_${productIndex}`);
							totalCell.textContent = `₹${totalPrice}`;
						}
					});

				</script>
</body>

</html>