




<!DOCTYPE html>
<html lang="zxx">

<head>
	<title>Goggles Ecommerce Category Bootstrap responsive Web Template | Checkout :: w3layouts</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta charset="utf-8">
	<meta name="keywords" content="Goggles a Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template, 
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />

<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>


	<script>
		addEventListener("load", function () {
			setTimeout(hideURLbar, 0);
		}, false);

		function hideURLbar() {
			window.scrollTo(0, 1);
		}
	</script>
	<link href="/assets/css/bootstrap.css" rel='stylesheet' type='text/css' />
	<link href="/assets/css/login_overlay.css" rel='stylesheet' type='text/css' />
	<link href="/assets/css/style6.css" rel='stylesheet' type='text/css' />
	<link rel="stylesheet" href="/assets/css/shop.css" type="text/css" />
	<link rel="stylesheet" type="text/css" href="/assets/css/checkout.css">
	<link href="/assets/css/easy-responsive-tabs.css" rel='stylesheet' type='text/css' />
	<link href="/assets/css/style.css" rel='stylesheet' type='text/css' />
	<link href="/assets/css/fontawesome-all.css" rel="stylesheet">
	<link href="//fonts.googleapis.com/css?family=Inconsolata:400,700" rel="stylesheet">
	<link href="//fonts.googleapis.com/css?family=Poppins:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800"
	    rel="stylesheet">

        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	
        <style>
			.messages{
				color: red;
				font-size: 14px;
				margin-bottom: 10px;
				margin-top: 50px;
			}
			/* Add your existing styles here */
			.message-container {
				color: red;
				font-size: 14px;
				margin-bottom: 10px;
			}
			.message-container.success {
				color: green;
			}
            .creditly-card-form .first-row .controls {
                width: 100%;
                text-align: center;
            }
        
            .creditly-card-form .first-row .card_number_grids {
                display: flex;
                justify-content: center;
                align-items: center;
            }
        
            .creditly-card-form .first-row .card_number_grids .card_number_grid_left,
            .creditly-card-form .first-row .card_number_grids .card_number_grid_right {
                width: 48%; /* Adjust as needed */
                margin: 0 2%; /* Adjust as needed */
            }
        
            .creditly-card-form .first-row .controls input {
                width: 100%;
            }
        
            .creditly-card-form .submit.check_out {
                margin-top: 20px;
                width: 100%;
            }
        
            /* Additional styles for centering the section vertically */
            body, html {
                height: 100%;
                margin: 0;
            }
    
            section {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                height: 100vh;
            }
        </style>
<style>
    
    .backToShop {
            background-color: black;
            color: white;
            width: 200px;
            height: 50px;
            margin-top: 50px;
            border: none;
            outline: none;
        }
    .user-profile-heading{
        margin-top: 20px;
        margin-bottom: 30px;
        font-weight:normal;
        font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    }
    h1{
        margin-top: 20px;
        font-weight: bold;
        margin-bottom: 20px;
    }
.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 300px;
  margin: auto;
  text-align: center;
  font-family: arial;
}

.title {
  color: grey;
  font-size: 18px;
}

button {
  border: none;
  outline: 0;
  display: inline-block;
  padding: 8px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 18px;
}

a {
  text-decoration: none;
  font-size: 22px;
  color: black;
}

button:hover, a:hover {
  opacity: 0.7;
}

            .cancel-button{
                background-color: rgb(206, 57, 57);
                color: white;
                width: 100px;
                height: 40px;
                border: none;
                outline: none;
            }
            .image11 {
			
			
			width: 150px;
			height: auto;
			
		}
        .subtotal{
            margin-top: 20px;
            font-weight: bold;

        }
        .backToShop {
            background-color: black;
            color: white;
            width: 200px;
            height: 50px;
            margin-top: 50px;
            border: none;
            outline: none;
        }
        </style>


</head>

<body>
	<div class="banner-top container-fluid" id="home">
		<!-- header -->
		<header>
			<div class="row">
				<div class="col-md-3 top-info text-left mt-lg-4">
					<h6>Need Help</h6>
					<ul>
						<li>
							<i class="fas fa-phone"></i> Call</li>
						<li class="number-phone mt-3">12345678099</li>
					</ul>
				</div>
				<div class="col-md-6 logo-w3layouts text-center">
					<h1 class="logo-w3layouts">
						<a class="navbar-brand" href="index.html">
							Quix </a>
					</h1>
				</div>

				<div class="col-md-3 top-info-cart text-right mt-lg-4">
					<ul class="cart-inner-info">
						
						<li class="galssescart galssescart2 cart cart box_1">
							<form action="/loadCart" method="post" class="last">
								
								<button class="top_googles_cart" type="submit" name="submit" value="">
									My Cart
									<i class="fas fa-cart-arrow-down"></i>
								</button>
							</form>
						</li>
					</ul>

                    <div class="search">
						<div class="">
							<button id="trigger-overlay" type="button">
								<i class="fas fa-search"></i>
							</button>
						</div>
						<!-- open/close -->
						<div class="overlay overlay-door">
							<button type="button" class="overlay-close">
								<i class="fa fa-times" aria-hidden="true"></i>
							</button>
							<form action="#" method="post" class="d-flex">
								<input class="form-control" type="search" placeholder="Search here..." required="">
								<button type="submit" class="btn btn-primary submit">
									<i class="fas fa-search"></i>
								</button>
							</form>
		
						</div>
						<!-- open/close -->
					</div>
					<!---->
					<div class="overlay-login text-left">
						<button type="button" class="overlay-close1">
							<i class="fa fa-times" aria-hidden="true"></i>
						</button>
						<div class="wrap">
							<h5 class="text-center mb-4">Login Now</h5>
							<div class="login p-5 bg-dark mx-auto mw-100">
								<form action="#" method="post">
									<div class="form-group">
										<label class="mb-2">Email address</label>
										<input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="" required="">
										<small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
									</div>
									<div class="form-group">
										<label class="mb-2">Password</label>
										<input type="password" class="form-control" id="exampleInputPassword1" placeholder="" required="">
									</div>
									<div class="form-check mb-2">
										<input type="checkbox" class="form-check-input" id="exampleCheck1">
										<label class="form-check-label" for="exampleCheck1">Check me out</label>
									</div>
									<button type="submit" class="btn btn-primary submit mb-4">Sign In</button>

								</form>
							</div>
							<!---->
						</div>
					</div>
					<!---->
				</div>
			</div>
			
			<label class="top-log mx-auto"></label>
			<nav class="navbar navbar-expand-lg navbar-light bg-light top-header mb-2">

				<button class="navbar-toggler mx-auto" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
				    aria-expanded="false" aria-label="Toggle navigation">
					<span class="navbar-toggler-icon">
						
					</span>
				</button>
				

                   
                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="navbar-nav nav-mega mx-auto">
                            <li class="nav-item">
                                <a class="nav-link ml-lg-0" href="/home">Home
                                    <span class="sr-only">(current)</span>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="/about">About</a>
                            </li>
                            <li class="nav-item ">
                                <a class="nav-link" href="#" id="" role="button"  
                                    aria-expanded="false">
                                    Features
                                </a>
                                
                            </li>
                            <li class="nav-item  ">
                                <a class="nav-link " href="#"  id=""  role="button" >
                                    Shop
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="contact.html">Contact</a>
                            </li>
    
                        </ul>
    
                    </div>
		</header>
		<!-- banner -->
		<div class="banner_inner">
			<div class="services-breadcrumb">
				<div class="inner_breadcrumb">

					<ul class="short">
						<li>
							<a href="/home">Home</a>
							<i>|</i>
						</li>
						<li>Edit Profile </li>
					</ul>
				</div>
			</div>

		</div>
		<!--//banner -->
	</div>



    <div class=" text-center">
		
     
       
       
        <form action="/editUser" method="post" class="creditly-card-form agileinfo_form" onsubmit="return validateForm()">
            <section class="creditly-wrapper wrapper">
                <div class="information-wrapper">
                    <div class="first-row form-group">
						<div id="messageContainer" class="message-container">
							<% 
								if (typeof errorMessage !== 'undefined') {
									%>
									<p class="messages"><%= errorMessage %></p>
									<%
								}
							%>
							<% 
								if (typeof message !== 'undefined') {
									%>
									<p class="messages"><%= message %></p>
									<%
								}
							%>
						</div>
                        <div class="controls">	
                            <label class="control-label">Full name: </label>
                            <input class="billing-address-name form-control" type="text" id="fullName" value="<%=user.name %>" name="name" placeholder="name">
                        </div>
                        <div class="card_number_grids">
                            <div class="card_number_grid_left">
                                <div class="controls">
                                    <label class="control-label">Mobile number:</label>
                                    <input class="form-control" type="tel" placeholder="Mobile number" value="<%=user.phone %>" name="phone" id="phone">
                                </div>
                            </div>
                            <div class="card_number_grid_right">
                                <div class="controls">
                                    <label class="control-label">Email: </label>
                                    <input class="form-control" type="email" placeholder="Email" value="<%=user.email %>" name="email" id="email">
                                </div>
                            </div>
                        </div>
                    </div>
                    
                    <button class="submit check_out">Edit Profile</button>
                </div>
            </section>
        </form>
        <!-- <div class="checkout-right-basket">
            <a href="payment.html">Make a Payment </a>
        </div> -->
    </div>








    
	<!--//checkout-->
	<!--footer -->
	<footer class="py-lg-5 py-3">
		<div class="container-fluid px-lg-5 px-3">
			<div class="row footer-top-w3layouts">
				<div class=" footer-grid-w3ls">
					<div class="footer-title">
						<h3>About Us</h3>
					</div>
					<div class="footer-text">
						<p>Curabitur non nulla sit amet nislinit tempus convallis quis ac lectus. lac inia eget consectetur sed, convallis at
							tellus. Nulla porttitor accumsana tincidunt.</p>
						<ul class="footer-social text-left mt-lg-4 mt-3">

							<li class="mx-2">
								<a href="#">
									<span class="fab fa-facebook-f"></span>
								</a>
							</li>
							<li class="mx-2">
								<a href="#">
									<span class="fab fa-twitter"></span>
								</a>
							</li>
							<li class="mx-2">
								<a href="#">
									<span class="fab fa-google-plus-g"></span>
								</a>
							</li>
							<li class="mx-2">
								<a href="#">
									<span class="fab fa-linkedin-in"></span>
								</a>
							</li>
							<li class="mx-2">
								<a href="#">
									<span class="fas fa-rss"></span>
								</a>
							</li>
							<li class="mx-2">
								<a href="#">
									<span class="fab fa-vk"></span>
								</a>
							</li>
						</ul>
					</div>
				</div>
				<div class=" footer-grid-w3ls">
					<div class="footer-title">
						<h3>Get in touch</h3>
					</div>
					<div class="contact-info">
						<h4>Location :</h4>
						<p>0926k 4th block building, king Avenue, New York City.</p>
						<div class="phone">
							<h4>Contact :</h4>
							<p>Phone : +121 098 8907 9987</p>
							<p>Email :
								<a href="mailto:info@example.com">info@example.com</a>
							</p>
						</div>
					</div>
				</div>
				<div class="col-lg-3 footer-grid-w3ls">
					<div class="footer-title">
						<h3>Quick Links</h3>
					</div>
					<ul class="links">
						<li>
							<a href="index.html">Home</a>
						</li>
						<li>
							<a href="about.html">About</a>
						</li>
						<li>
							<a href="404.html">Error</a>
						</li>
						<li>
							<a href="shop.html">Shop</a>
						</li>
						<li>
							<a href="contact.html">Contact Us</a>
						</li>
					</ul>
				</div>
				<div class="col-lg-3 footer-grid-w3ls">
					<div class="footer-title">
						<h3>Sign up for your offers</h3>
					</div>
					<div class="footer-text">
						<p>By subscribing to our mailing list you will always get latest news and updates from us.</p>
						<form action="#" method="post">
							<input class="form-control" type="email" name="Email" placeholder="Enter your email..." required="">
							<button class="btn1">
								<i class="far fa-envelope" aria-hidden="true"></i>
							</button>
							<div class="clearfix"> </div>
						</form>
					</div>
				</div>
			</div>
			<div class="copyright-w3layouts mt-4">
				
			</div>
		</div>
	</footer>

	<script>
		function validateForm() {
			// Reset previous error messages
			document.getElementById('messageContainer').innerHTML = '';
	
			const name = document.getElementById('fullName').value;
			const email = document.getElementById('email').value;
			const phone = document.getElementById('phone').value;
	
			// Minimum length is 3 characters, and should only contain alphabets
			if (name.length < 3 || /^\s+$/.test(name) || !/^[a-zA-Z\s]+$/.test(name)) {
				displayErrorMessage('Name must be at least 3 characters, should not be only spaces, and should only contain alphabets');
				return false;
			}
	
			// Simple email format check
			const emailRegex = /^[^\s@]+@[^\s@]+\.[^\s@]+$/;
			if (!emailRegex.test(email)) {
				displayErrorMessage('Invalid email address');
				return false;
			}
	
			// Validate phone number, rejecting if only contains zeros
			if (!/^\d{10}$/.test(phone) || /^0+$/.test(phone)) {
				displayErrorMessage('Invalid phone number (must be 10 digits and should not consist only of 0s)');
				return false;
			}
	
			// If all validations pass, the form will be submitted
			return true;
		}
	
		function displayErrorMessage(message) {
			const messageContainer = document.getElementById('messageContainer');
			messageContainer.innerHTML = `<p>${message}</p>`;
		}
	</script>
	<!-- //footer -->
	<!--jQuery-->

	<!-- newsletter modal -->
	<!--search jQuery-->
	<script src="/assets/js/modernizr-2.6.2.min.js"></script>
	<script src="/assets/js/classie-search.js"></script>
	<script src="/assets/js/demo1-search.js"></script>
	<!--//search jQuery-->
	<!-- cart-js -->
	<script src="/assets/js/minicart.js"></script>
	
	<!-- //cart-js -->
	
	<!-- carousel -->
	<!-- easy-responsive-tabs -->
	<script src="/assets/js/easy-responsive-tabs.js"></script>
	
	
	<!--//close-->

	
	<!-- //dropdown nav -->
	<script src="/assets/js/move-top.js"></script>
    <script src="/assets/js/easing.js"></script>
    
    
    <!--// end-smoth-scrolling -->


	<script src="/assets/js/bootstrap.js"></script>
	<!-- js file -->
</body>

</html>
